<nav class="navbar navbar-default" *ngIf="isLoggedIn$ | async">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">FakeBook</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/wallComponent" >Muro <span class="sr-only">(current)</span></a></li>
        <li routerLinkActive="active"><a routerLink="/friendsComponent" >Amigos</a></li>
        <li routerLinkActive="active"><a routerLink="/profileComponent">Perfil</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/loginComponent" (click)="logout()">Salir</a></li>
      </ul>
    </div>
  </div>
</nav>